h1{
    color:red
}
p,h2{
    text-align: center;
}
/*{
    border:solid;
}*/
.div1{
 background-color:white;
 display:flex;
 justify-content: space-between;

}
.jogos{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;



}
.redes{
    background-color: rgb(255, 255, 255);
    display:flex;
justify-content: flex-end;
}
